
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar */

#header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    background-color: transparent;
    color: var(--gray);
    font-family: var(--font-navbar);
    font-weight: 800;
    transition: .5s;
}

/* -- */


.form-produtos{
    width: 90%;

    margin: 50px 0;

    border-radius: 7px;
    font-family: 'Montserrat';
}

h1{
    padding-bottom: 20px;
    text-align: center;
    font-weight: 500;
}

div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

label{
    font-size: 16px;
    padding-bottom: 7px;
}

input,select,textarea{
    box-shadow: 0.5px 1px 1px rgb(172, 172, 172);
    border: 0.5px solid lightgray;
    border-radius: 5px;
    width: auto;
    padding: 10px;
    font-size: 16px;
    color: black;
    font-family: 'Montserrat';
}

input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


select:focus,input:focus,textarea:focus{
    outline: none;
    border-color: lightgreen;
 }

 textarea{
    resize: none;
 }

 input[type=file]{
    display: none;
 }

div#UpImagens{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}

img{
    border-radius: 5px;
    cursor: pointer;
    height: 200px;
    width: 200px;
}


button{
    margin-top: 30px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    background-color: rgb(61, 236, 61);
    color: white;
    border: none;
    border-radius: 5px;
}


@media screen and (max-width: 768px) {

    div#UpImagens{
        justify-content: flex-start;
    }
    img{
        height: 70px;
        width: 70px;
    }
}

